body {
    height: 100%;
    min-height: 100%;
    background-image: url(https://wallpapercave.com/wp/wp1907535.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}

h1 {
    color: white;
    text-align: center;
    /* background: black; */
    border:3px double black;
    text-shadow:3px 2px hotpink;
}
h2 {
    text-align: center;
    background: rgba(244, 244, 226, 0.6)
}

h4 {
    color: black
}

.page {
    width: 1280px;
    margin: 0 auto;
  }
.center {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
}

#logo{
    width: 100px;
    height: 100px;
}

.artWorks {
    width: 20%;
    height: 20%;
}
.menu {
    text-align: center;
    /* height: 100px; */
    /* padding: 10px; */
   /* background-color: rgba(178, 214, 255, 0.9) */
  }
  

  .info {
    float: left;
    margin-right: 1%;
    width: 30%; 
    background-color: rgba(255, 108, 241, 0.7);
    padding: 10px;
    border:3px dotted black;
  }
  
  .news {
    margin-right: 1%;
    float: left;
    width: 28%;
    margin-right: 1%;
    text-align: center;
    background-color: rgba(255, 162, 99, 0.7);
    padding: 10px;
    border:3px dotted black;
  }
  .shop {
    float: left;
    width: 30%;
    height: 400px;
    background-color: rgba(83, 244, 59, 0.7);
    padding: 10px;
    border:3px dotted black;
  }
  
  .footer {
    clear:both;
    height: 100px;
    background-color: rgba(178, 214, 255, 0.7);
    padding-left: 100px;
  }

  .big-image { 
      height: 40%;
      width: 40%;
    }
  .small-image { 
      height: 20%;
      width: 20%;
    }

    #green-m/*__write_selector_here__*/ {
        position: absolute;
        width: 200px;
        height: 200px;
        z-index: 2;
        top: 80px;
        left: 300px;
      }

      #orange-m/*__write_selector_here__*/ {
        position: absolute;
        width: 200px;
        height: 200px;
        z-index: 2;
        top: 420px;
        left: 750px;
      }

      .horizontal-list {
          display: inline-block;
          list-style-type: none;
          vertical-align: center;
      }
.li{
    float:left;
    margin-right: 195px;
}


